<div class="col s8 offset-s2">
    <div class="grid grid-pad">
        <nav>
            <a routerLink="/reprises" class="module">Reprises</a>
            <a routerLink="/moncompte" class="module">Mon compte</a>
            <a routerLink="/chevaux" class="module">Gestion des chevaux</a>
        </nav>
    </div>
</div>

<router-outlet></router-outlet>

<mat-grid-list cols="12">
    <mat-grid-tile [colspan]="3" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="2">
        <table>
            <tr>
                <td>
                    <h1>Mes reprises</h1>
                    <table mat-table [dataSource]=dataList class="mat-elevation-z8" style="margin-left:auto;margin-right:auto;">
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="hour">
                            <th mat-header-cell *matHeaderCellDef>Horaire</th>
                            <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
                        </ng-container>
                        <ng-container matColumnDef="level">
                            <th mat-header-cell *matHeaderCellDef>Niveau</th>
                            <td mat-cell *matCellDef="let element"> {{element.level}} </td>
                        </ng-container>
                        <ng-container matColumnDef="instructor">
                            <th mat-header-cell *matHeaderCellDef>Moniteur</th>
                            <td mat-cell *matCellDef="let element"> {{element.instructor}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </td>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="2">
        <table>
            <tr>
                <td>
                    <h1>Mes reprises</h1>
                    <table mat-table [dataSource]=dataList class="mat-elevation-z8" style="margin-left:auto;margin-right:auto;">
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="hour">
                            <th mat-header-cell *matHeaderCellDef>Horaire</th>
                            <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
                        </ng-container>
                        <ng-container matColumnDef="level">
                            <th mat-header-cell *matHeaderCellDef>Niveau</th>
                            <td mat-cell *matCellDef="let element"> {{element.level}} </td>
                        </ng-container>
                        <ng-container matColumnDef="instructor">
                            <th mat-header-cell *matHeaderCellDef>Moniteur</th>
                            <td mat-cell *matCellDef="let element"> {{element.instructor}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </td>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="10" [rowspan]="2">
        <table>
            <tr>
                <td>
                    <h1>Rechercher des reprises</h1>
                    <mat-form-field appearance="fill" style="margin:5px;">
                        <mat-label>Niveau</mat-label>
                        <mat-select [formControl]="levelForm" [(ngModel)]="selectedLevels" multiple>
                            <mat-option *ngFor="let level of levelList" [value]="level">{{level}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" style="margin:5px;">
                        <mat-label>Moniteur</mat-label>
                        <mat-select [formControl]="monitorForm" [(ngModel)]="selectedMonitors" multiple>
                            <mat-option *ngFor="let monitor of monitorList" [value]="monitor">{{monitor}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width" appearance="fill" style="margin:5px;">
                        <mat-label>Avant Le</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="before">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill" style="margin:5px;">
                        <mat-label>Après Le</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="after">
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <button mat-raised-button color="primary" (click)="search()"
                    style="display: block;margin: auto;">Rechercher</button>
                </td>
            </tr>
        </table>
    </mat-grid-tile>
</mat-grid-list>
