<div class="col s8 offset-s2">
    <div class="grid grid-pad">
        <nav>
            <a routerLink="/reprises" class="module">Reprises</a>
            <a routerLink="/moncompte" class="module">Mon compte</a>
        </nav>
    </div>
</div>

<router-outlet></router-outlet>

<mat-grid-list cols="12">
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="8">
        <table>
            <tr>
                <td>
                    <h1>Mes reprises</h1>
                    <table>
                        <tr *ngFor="let element of dataList">
                            <td>{{ element.date }}</td>
                            <td>{{ element.hour }}</td>
                            <td>{{ element.level }}</td>
                            <td>{{ element.instructor }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="8">
        <table>
            <tr>
                <td>
                    <h1>Gestion des reprises créées</h1>
                    <table>
                        <tr *ngFor="let element of dataList">
                            <td>{{ element.date }}</td>
                            <td>{{ element.hour }}</td>
                            <td>{{ element.level }}</td>
                            <td>{{ element.instructor }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="2">
        <table>
            <tr>
                <td>
                    <h1>Rechercher des reprises</h1>
                    <mat-form-field appearance="fill" style="margin:5px;">
                        <mat-label>Niveau</mat-label>
                        <mat-select [formControl]="levelForm" [(ngModel)]="selectedLevels" multiple>
                            <mat-option *ngFor="let level of levelList" [value]="level">{{level}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" style="margin:5px;">
                        <mat-label>Moniteur</mat-label>
                        <mat-select [formControl]="monitorForm" [(ngModel)]="selectedMonitors" multiple>
                            <mat-option *ngFor="let monitor of monitorList" [value]="monitor">{{monitor}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width" appearance="fill" style="margin:5px;">
                        <mat-label>Avant Le</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="before">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill" style="margin:5px;">
                        <mat-label>Après Le</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="after">
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <button mat-raised-button color="primary" (click)="search()">Rechercher</button>
                </td>
            </tr>
        </table>
    </mat-grid-tile>
</mat-grid-list>
