<mat-grid-list cols="12" rowHeight="700px">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="5">
        <mat-card>
            <mat-card-header style="display: inline;">
                <div class="wrapper">
                    <h1>Connexion</h1>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Email ou téléphone</mat-label>
                        <input matInput (input)="loginConnection=$event.target.value" id="loginConnection" 
                        [formControl]="loginConnectionForm" required>
                        <mat-error *ngIf="loginConnectionForm.invalid">{{getErrorMessagelogC()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput (input)="passwordConnection=$event.target.value" id="passwordConnection" 
                        [formControl]="passwordConnectionForm" required>
                        <mat-error *ngIf="passwordConnectionForm.invalid">{{getErrorMessagepwC()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <button type="submit" mat-raised-button color="primary" (click)="connect()"
                            [disabled]="loginConnectionForm.invalid || passwordConnectionForm.invalid">Connexion</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5">
        <mat-card>
            <mat-card-header style="display: inline;">
                <div class="wrapper">
                    <h1>Inscription</h1>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Login</mat-label>
                        <input matInput (input)="loginRegister=$event.target.value" id="loginRegister" 
                        [formControl]="loginRegisterForm" required>
                        <mat-error *ngIf="loginRegisterForm.invalid">{{getErrorMessagelogR()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput (input)="passwordRegister=$event.target.value" id="passwordRegister" 
                        [formControl]="passwordRegisterForm" required>
                        <mat-error *ngIf="passwordRegisterForm.invalid">{{getErrorMessagepwR()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Mot de passe (encore)</mat-label>
                        <input matInput (input)="passwordRepeatRegister=$event.target.value" id="passwordRepeatRegister" 
                        [formControl]="passwordRepeatRegisterForm" required>
                        <mat-error *ngIf="passwordRepeatRegisterForm.invalid">{{getErrorMessagepwRR()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Prénom</mat-label>
                        <input matInput (input)="firstNameRegister=$event.target.value" id="firstNameRegister" 
                        [formControl]="firstNameRegisterForm" required>
                        <mat-error *ngIf="firstNameRegisterForm.invalid">{{getErrorMessagefnR()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Nom de famille</mat-label>
                        <input matInput (input)="lastNameRegister=$event.target.value" id="lastNameRegister" 
                        [formControl]="lastNameRegisterForm" required>
                        <mat-error *ngIf="lastNameRegisterForm.invalid">{{getErrorMessagelnR()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Numéro de téléphone</mat-label>
                        <input matInput (input)="phoneRegister=$event.target.value" id="phoneRegister" 
                        [formControl]="phoneRegisterForm" required>
                        <mat-error *ngIf="phoneRegisterForm.invalid">{{getErrorMessagepnR()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Numéro de licence (optionnel)</mat-label>
                        <input matInput (input)="licenseRegister=$event.target.value" id="licenseRegister" 
                        [formControl]="licenseRegisterForm">
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <button type="submit" mat-raised-button color="primary" (click)="register()"
                    [disabled]="loginRegisterForm.invalid || passwordRegisterForm.invalid 
                    || passwordRepeatRegisterForm.invalid || firstNameRegisterForm.invalid
                    || lastNameRegisterForm.invalid || phoneRegisterForm.invalid">Inscription</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>