<!--
<mat-grid-list cols="12">
    <mat-grid-tile [colspan]="12" [rowspan]="2">
        <a routerLink="/connection" class="module">Retour à l'écran de Connexion</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile [colspan]="6">
        <table>
            <tr>
                <td>
                    <h1>Récupération du mot de passe</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="standard">
                        <mat-label>Email</mat-label>
                        <input matInput (input)="email=$event.target.value" id="email" 
                        [formControl]="emailForm">
                        <mat-error *ngIf="emailForm.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button type="submit" mat-raised-button color="primary" (click)="send()"
                    [disabled]="emailForm.invalid">Envoyer le mot de passe</button>
                </td>
            </tr>
        </table>
    </mat-grid-tile>
</mat-grid-list>
-->
<mat-grid-list cols="12">
    <mat-grid-tile [colspan]="12" [rowspan]="2">
        <a routerLink="/connection" class="module">Retour à l'écran de Connexion</a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="2">
        <mat-card>
            <mat-card-header style="display: inline;">
                <div class="wrapper">
                    <h1>Récupération du mot de passe</h1>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="wrapper">
                    <mat-form-field appearance="standard">
                        <mat-label>Email</mat-label>
                        <input matInput (input)="email=$event.target.value" id="email" 
                        [formControl]="emailForm">
                        <mat-error *ngIf="emailForm.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="wrapper">
                    <button type="submit" mat-raised-button color="primary" (click)="send()"
                    [disabled]="emailForm.invalid">Envoyer le mot de passe</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2"></mat-grid-tile>
</mat-grid-list>