h1 {
  font-weight: bold;
  text-align:center;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #3f525c;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
a {
  text-decoration: none;
}
.wrapper {
  text-align: center;
}
.mat-card {
  background-color: rgba(255, 255, 255, 0.3);
}
table {
  text-align: left;
}
button {
  margin-top: 20px;
}
    